build
.idea/*
**/report/*
**/allure-html/*
**/open_report.cmd
pytest_typhoon_polarion.egg-info/*
**/__pycache__/*
**/pytestdebug.log
pytest-typhoon-polarion.code-workspace
.scratch_files/*
**/pytest_typhoon_polarion.egg-info/*
**/allure-results/*
**/open_allure-results.cmd
dist/*
